
<h1> New multiplication </h1>
<form action="/wizard_multiply">
  <label for="guepard">Multiply this:</label>
  <input type="text" id="guepard" name="first_num">

  <label for="leopard">by this:</label>
  <input type="text" id="leopard" name="second_num">

  <button>Multiply!</button>
</form>
