<h1>Multiplication</h1>

<dl>
  <dt>First number</dt>
  <dd>1.0</dd>

  <dt>Second number</dt>
  <dd>0.0</dd>

  <dt>Result</dt>
  <dd>0.0</dd>
</dl>

<a href="/multiply">Do another multiplication</a>

