<h1> New substraction </h1>


<form action="/wizard_substract">
  <label for="zebra"> Substract this: </label>
  <input id="zebra" name="first_num">

  <label for="giraffe"> from this: </label>
  <input id="giraffe" name="second_num">

  <button>Substract!</button>

</form>
